<div class="min-h-screen bg-gray-200">
  <header
    class="flex items-center justify-between space-x-20 py-4 text-white bg-blue-500"
  >
    <div class="mx-6 max-w-6xl">
      <h1 class="text-2xl font-bold">Workout diary - Total Volume: {{volume()}}</h1>
    </div>
    <nav class="items-center px-4 mx-2">
      <a (click)="logout()" class="cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="hover:bg-gray-100 hover:rounded-sm hover:text-blue-500 icon icon-tabler icons-tabler-outline icon-tabler-logout"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
          />
          <path d="M9 12h12l-3 -3" />
          <path d="M18 15l3 -3" />
        </svg>
      </a>
    </nav>
  </header>
  <main class="mx-auto mt-8 max-w-6xl px-4">
    <!-- <app-list-entries [exerciseList]="exerciseList" /> -->
    <!-- @defer(on hover(trigger)) {
    <app-list-entries
      [exerciseList]="exerciseList"
      (deleteEvent)="deleteItem($event)"
      (editEvent)="editEntry($event)"
    />
    } -->
    @defer {
    <!-- <app-list-entries
      [exerciseList]="exerciseList"
      (deleteEvent)="deleteItem($event)"
      (editEvent)="editEntry($event)"
    /> -->
    <app-list-entries
      (deleteEvent)="deleteItem($event)"
      (editEvent)="editEntry($event)"
    />
    } @loading {
    <div>Loading</div>
    } @placeholder {
    <div>PlaceHolder</div>
    } @error {
    <div>Error</div>
    }
    <app-new-item-button (newExerciseEvent)="addExercise($event)" />
    <br />
    <br />
    <button
      #trigger
      class="rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700"
      (click)="newList()"
    >
      Server Sync
    </button>
  </main>
</div>
